name: Nix

on:
  push:
    branches: [master]
  pull_request:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-25.11

      - uses: cachix/cachix-action@v15
        with:
          name: solastrius
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Build default
        run: nix build

      - name: Build static
        run: nix build .#static

      - name: Prepare artifacts
        run: |
          mkdir -p artifacts
          cp result/bin/kosync-server artifacts/kosync-server-x86_64-linux-static

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: kosync-server-static
          path: artifacts/

      - name: Upload to release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          files: artifacts/*

      - run: nix flake check
