name: Nix

on:
  push:
    branches: [main]
  pull_request:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-25.11

      - uses: cachix/cachix-action@v15
        with:
          name: solastrius
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - run: nix build
      - run: nix flake check
